@import 'general';
@import 'animations';




.sitemodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: black, $alpha: .5);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;


    &.type2{
        background-color: transparent;
        align-items: flex-start;
        .inner{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            box-shadow: 0 0px 10px $lightgrey3;

            padding: 20px 50px;
        }
    }


    .inner{
        background-color: #fff;
        padding: 50px;
        border-radius: 5px;

        h4{
            color: $sitecolor2;
            font-family: $isbold;
        }

        p{
            margin: 20px 0;
            font-size: 18px;
        }

        .buttons{
            margin-top: 40px;
            display: flex;
            justify-content: flex-end;
            button{
                font-size: 18px;
                padding: 5px 35px;

                background-color: $sitecolor2;
                border: none;
                border-radius: 5px;
                color: white;
                margin-left: 20px;
            }
            & button:first-child{
                background-color: transparent;
                border: none;
                color: $darkgrey3;
                padding: 5px 20px;
            }
            & button:last-child{
                &:hover{
                    background-color: $sitecolor3;
                }
            }
            
        }

    }
}






.container{
    @include sm{ width: 100%; margin: 20px 10px }

        h1{
            @include title;
            letter-spacing: -1.07;
            margin-bottom: 40px;
            margin-top: 60px;
        }

        .info{
            background-color: white;
            padding: 40px;
            position: relative;
            border-radius: 10px;

            &::before{
                position: absolute;
                content: " ";
                width: 10px;
                height: 100%;
                background-color: $sitecolor2;
                left: -20px;
                top: 0;
                border-radius: 5px;
                box-shadow: 5px 5px 10px lighten($color: $sitecolor, $amount: 20);
            }
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 20px;
                margin-right: 40px;
                box-shadow: 10px 10px 20px $grey;
            }
            h4{
                @include title;
                text-transform: inherit;
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                color: $darkblue2;
            }
        }

        .stats{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;

            .stat{
                width: 18%;
                background-color: white;
                padding: 40px;
                height: 190px;
                border-radius: 10px;
                box-shadow: 0 10px 20px -10px $lightgrey3;
                margin-bottom: 30px;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                transition: .3s;
                top: 0px;
                cursor: pointer;


                // If icon exists, set it to background
                position: relative;
                overflow: hidden;
                &>i{
                    font-size: 150px;
                    color: lighten($color: $sitecolor4, $amount: 10);
                    position: absolute;
                    transform: translate(-45%, 50%);
                }

                // Hover effect
                &:hover{
                    top: -10px;

                }

                p{
                    z-index: 2;
                    text-transform: uppercase;
                    color: $darkblue;
                    i{
                        font-size: 25px;
                        margin-right: 5px;
                    }
                }
                label{
                    z-index: 2;
                    font-size: 30px;
                    font-family: $isbold;
                    color: $sitecolor;
                    span{
                        font-size: 16px;
                    }
                }

                &:first-child{
                    background-color: $sitecolor4;
                    color: white;
                    box-shadow: 0 0 20px lighten($color: $sitecolor, $amount: 20);
                    p{
                        color: lighten($color: $sitecolor, $amount: 35);
                    }
                    label{
                        color: white;
                    }
                }
            }

        }

        .materials{
            margin: 40px 0;
            h3{
                color: $darkblue;
                font-size: 20px;
                text-transform: uppercase;
                font-family: $isbold;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $lightblue;
            }
            .table{
                width: 100%;
                .tr{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    padding: 15px 20px;
                    
                    margin-bottom: 20px;
                    border-radius: 10px;
                    width: calc(100% - 70px);
                    position: relative;
                    transition: .2s;
                    color: $darkgrey;
                    max-height: 200px;

                    &:not(.captions):hover{
                        box-shadow: 0 10px 20px -10px $lightgrey3;
                        transform: scale(1.01);
                    }


                    div{
                        width: 12.5%;
                        text-align: center;

                        &.b_info{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            img{
                                width: 30px;
                            }
                            label{
                                overflow: hidden;
                                width: 80px;
                                height: 22px;
                            }
                        }
                    }

                    &.captions{
                        background-color: transparent;
                        color: $darkblue;
                        padding: 0 20px;
                        font-family: $isbold;
                    }
                    &>i{
                        background-color: $red;
                        color: white;
                        padding: 18px 20px;
                        font-size: 20px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: .2s;

                        &:hover{
                            background-color: lighten($red, 5);
                        }
                        position: absolute;
                        right: -70px;
                    }

                }
            }
        }

        // Account settings
        .settings{
            background-color: #fff;
            border-radius: 10px;
            padding: 50px;
            margin: 30px 0;
            // width: max-content;
            // box-shadow: 10px 10px 20px lighten($color: $darkblue, $amount: 45);

            .row{
                margin: 0;
                margin-bottom: 30px;
            }

            .row.newsletter{
                label{
                    font-size: 15px;
                    color: $darkgrey3;
                    font-family: $isbold;
                }
            }
            .row.profile_photo{
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }

            .siteinput2{
                position: relative;

                &.disabled{
                    input{
                        background-color: $bodybg;
                        pointer-events: none;
                    }
                    label{
                        background-color: $bodybg;
                    }
                }


                input{
                    border: 1px solid #dedeea;
                    transition: .3s;
                    border-radius: 10px;
                }

                label{
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    left: 15px;
                    background-color: #fff;
                    padding: 0 5px;
                    transition: .3s;
                    pointer-events: none;
                    text-transform: uppercase;
                    color: $darkblue;

                    font-size: $tiny;
                    font-family: $isbold;
                }

                input:focus + label{
                    top: 0px;
                    left: 8px;
                    font-size: 10px;
                }
                input:focus{
                    border-color: $blue;
                }
            }

            button.change_btn{
                @include btn1($sitecolor);
                color: white;
                margin-left: 20px;
                border-radius: 10px;
                font-size: $tiny;
                text-transform: uppercase;
                font-family: $isbold;
                color: lighten($color: $sitecolor2, $amount: 48);
            }


        }

}