@import 'general';
@import 'animations';


main{
    
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 100px 50px;
    flex-wrap: wrap;
    @include md{padding: 20px;}
    .left{
        max-width: 300px;
        img{
            max-width: 300px;
        }

        .tags{
            h6{
                color: #919191;
                text-transform: uppercase;
                font-family: $isbold;
                font-size: $small;
                margin-bottom: 20px;
            }
            a{
                display: inline-block;
                padding: 8px 20px;
                background-color: $sitecolor2;
                color: white;
                border-radius: 50px;
                margin-right: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .right{
        padding-left: 8%;
        h1{
            font-size: 36px;
            font-family: $isbold;
            color: $darkblue;
        }

        .details{
            max-width: 350px;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            color: $darkblue2;

            i{
                margin-right: 5px;
            }
        }

        &>p{
            margin-top: 20px;
            color: $darkblue;
            line-height: 30px;
            max-width: 600px;
            font-size: 18px;
        }

        .details2{
            label{
                margin-bottom: 10px;
            }
        }

        .download{
            &>h3{
                font-size: 20px;
                // text-transform: uppercase;
                letter-spacing: -0.07;
                font-family: $isbold;
                color: $darkblue;
                margin-bottom: 35px;
            }
            h6{
                margin-top: 40px;
                margin-bottom: 20px;
                color: $darkgrey;
            }
            .types{
                margin-left: 30px;

                &>div{
                    label{
                        color: $darkblue;
                    }
                    max-width: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                }
            }

            .download_btn{
                border: none;
                @include btn1(linear-gradient(120deg, #2AC9A8, #00FFE8), 0 5px 20px rgba(#18C688, .3));
                color: white;
                width: 160px;
                margin-top: 30px;
                position: relative;
                top: 0;
                transition: .4s;

                &:hover{
                    top: 5px;
                    box-shadow: none;
                }
            }
            



            

        }


    }


    .similar{
        align-self: flex-end;
        margin-top: 100px;
        width: 80%;

        .cards{
            display: flex;
            justify-content: space-between;
        }
        
        &>h3{
            text-transform: uppercase;
            font-size: 16px;
            font-family: $isbold;
            margin-bottom: 20px;
            background-color: $sitecolor2;
            display: inline-block;
            border-radius: 10px;
            padding: 20px;
        }
    }



}