/*Animations*/
@keyframes move {

    from,
    to {
        bottom: 20px;
        left: 50%;
    }

    50% {
        bottom: 10px;
        opacity: 0;
    }
}



@keyframes scale {

    from,
    to {
        transform: scale(1)
    }

    50% {
        transform: scale(1.02)
    }
}


/*Background gradient animation*/
@keyframes Backgradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 93% 100%
    }

    100% {
        background-position: 0% 0%
    }
}


body {
    /*    background-color: #ebebeb;*/
    font-family: "Halvetica";
}

/*Homepage*/
.entry {
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;
    
    min-height: 30vh;
/*    background-image: url(img/background.png);*/
    background-size: cover;
    background-position: 50%;
}

.homepage .entry{
    height: 100vh;
    background-image: none;
}

.entry .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease;
    text-align: center;
    width: 100%;
}

.entry .inner h3 {
    font-family: "Halvetica Thin"
}

.entry .inner img {
    animation: scale 1s infinite ease;
    max-width: 90%;
}

.entry .inner h1:nth-child(3) {
    color: #3fd1ff;
}

.entry .fa {
    position: absolute;
    bottom: 40px;
    font-size: 50px;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(255, 255, 255, .6);
    animation: move 2s infinite ease;
    cursor: pointer;
}

/*Download*/
.homepage .download {
    min-height: 1080px;
    background-color: #f7f7f7;
    position: relative;
    padding: 50px;
}

.homepage .download .inner {
    width: 1200px;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.homepage .download .package {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.homepage .download .package img {
    width: 30%;
    float: left;
    object-fit: cover;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    transition: .2s;
}

.homepage .download .package .text {
    background-color: white;
    width: 70%;
    float: right;
    padding: 20px;
}

.homepage .download .package h2 {}

.homepage .download .package .text p {
    margin-bottom: 8px;
    color: #777;
    letter-spacing: .4px;
}

.homepage .download .package .text p b {
    color: black;
}

.homepage .download .package .text a {
    display: inline-block;
    padding: 5px;
    color: #00c2ff;
    border: 1px solid;
    transition: .2s;
}

.homepage .download .package .text a:hover {
    color: yellowgreen;
}

/*HEADER*/
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: .2s;
}
header.scrollheader{
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
/*Header after scrolling to part. height*/
header.smallheader {
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    border: none;
    box-shadow: 0 0 50px -10px;
    z-index: 2
}

header.smallheader nav {
    color: black;
}

header.smallheader .dropdown {
    background-color: rgb(0, 194, 255, 0.7);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
header.smallheader.scrollheader nav>li>a:hover{
    color: #555 !important;
}
/*Smallheader end*/

/*Hiding header for mobile*/
header .h900 {
    display: none;
}



header nav li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
header nav > li:not(.search) {
    position: relative;
}
header .fa{
    cursor: pointer;
}

header nav li a:not(.no) {
    display: block;
    font-size: 20px;
    padding: 20px;
    position: relative;
    cursor: pointer;
}
header nav li a:hover {
    color: #c7c7c7 !important;
}

.scrollheader nav{
    color: #ebebeb;
}
header.scrollheader nav li a{
    border-bottom: 1px solid transparent;
    color: #ebebeb;
}
header.scrollheader nav li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: white !important;
}


header nav li a img {
    min-height: 70px;
}

header nav li a .fa-home {
    font-size: 25px;
}

/* Hover li a with shadow below
header nav li a:not(.no):after {
    content: " ";
    height: 1px;
    width: 60%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .2s;
}
*/

/*
header nav li a:hover:after {
    box-shadow: 0 0 20px;
    color: white;
}
*/

/*Search textarea*/
header nav li>.fa-search {
    padding: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: .2s;
}

header nav li>.fa-search:hover {
    transform: translate(0, -50%) rotate(90deg);
    font-size: 1.5em;
}

header nav div {
    float: left;
    position: relative;
}
header nav div form{
    min-width: 300px;
    position: absolute;
    top: 90px;
    left: 15px;
    display: none;
}
header nav div form .fa-search{
    font-size: 18px;
    padding: 10px;
    background-color: rgba(255,255,255,.3);
    color: white;
    float: left;
    border-radius: 5px;
    margin-left: 10px;
}
header nav input {
    float: left;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .3);
    padding: 5px;
    border-radius: 4px;
    transition: .2s;
    color: #555;
    min-width: 250px
}

header nav input::-webkit-input-placeholder {
    color: white;
    font-size: 14px;
}

header nav input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .4);
    transform: scale(1.05);
}



header .lang {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

header .lang img {
    max-height: 70px;
}

header .lang .second {
    position: absolute;
    right: 0;
    display: none;
}

/*Dropdown*/
header .dropdown {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid rgba(255, 255, 255, .2);
    display: none;
    text-align: center;
}

header .dropdown::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(255, 255, 255, .2);
}

header nav li .dropdown a {
    padding: 15px 40px;
}

header nav li .dropdown a:hover {
    border: none;
    background-color: rgb(0, 194, 255, .5);
}

/*Roller*/
.roller {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #00c2ff;
    box-shadow: 0 0 5px #00c2ff;
    transition: .5s;
}

/*HEADER END*/

/*Wrapper*/
.wrapper {
    text-align: center;
}

.wrapper2 {
    display: inline-block;
    position: relative;
    text-align: left;
}

/*Main*/
main {
    float: left;
    padding-top: 80px;
    padding-bottom: 100px;
}
main>.major {
    max-width: 1050px;
}

/*Cards*/

/*Setting animation-duration for even cards to appear slower than odd ones*/
.cards .row > div:nth-child(2n+1) .card {
    animation-delay: 300ms;
}

main .cards .card {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border: none;
    max-width: 450px;
    overflow: hidden;
    margin-bottom: 40px;
    opacity: 0;
}

main .cards .card .card-body {
    padding: 30px;
}

main .cards .card h3 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #555;
}

main .cards .card p {
    line-height: 2;
    font-family: "Halvetica Light";
}

.imgdiv {
    overflow: hidden;
}

main .cards .card img {
    transition: .2s;
}

main .cards .card:hover img {
    transform: scale(1.04);
}

main .cards .card .author_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main .cards .card div a {
    color: inherit;
}
/*Blog*/
.blog_body .smallheader{
    display: none
}
.blog h1,.blog h2,.blog h3,.blog h4{
    letter-spacing: 2px;
    color: #4f4f4f;
}
.blog .details{
    font-size: 15px
}
.blog .details i{
    font-size: 20px;
}
.blog .details .tags a{
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background-color: #00c2ff;
    color: white;
    margin-right: 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: .2s;
    margin-bottom: 10px;
}
.blog .details .tags a:hover{
    background-color: #363636;
}
.blog>img{
    width: 100%;
}
.blog p{
    color: #777;
    font-size: 18px;
    font-family: "Rubik";
    line-height: 2;
}
.blog .install p{
    margin-bottom: 0;
}

.blog .download{
    color: #00c2ff
}
.blog .download .down{
    
    padding: 10px;
    padding-left: 0;
}
.blog .download .down p{
    float: left;
    margin: 0;
}
.blog .download .down a{
    float: right;
    line-height: 2.3;
}
/*Screenshots*/
.blog>.screens{
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;
}
.blog>.screens .screen_active{
    border-top: 5px solid #00c2ff;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.blog>.screens img{
    width: 16%;
    float: left;
    margin: 1%;
    opacity: .5;
    cursor: pointer;
}
.blog>.screens .screen_active,.blog>.screens .icon_active{
    opacity: 1;
    cursor: default;
}
.blog .screens img:nth-child(2){
    margin-left: 0;
}
/*Comment*/
.blog .comment{
    margin-bottom: 100px;
}
.blog .comment input{
    max-width: 600px;
    border: none;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    transition: .2s;
    color: #777;
    margin-bottom: 20px;
}
.blog .comment input:focus{
    transform: scale(1.03);
}
.blog .comment textarea{
    width: 100%;
    max-width: 600px;
    border: none;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    transition: .2s;
    color: #777;
    display: block;
    min-height: 200px;
}
.blog .comment textarea:focus{
    transform: scale(1.03);
}
.blog .comment button{
    border: 0;
    background-color: #00c2ff;
    color: white;
    padding: 10px;
    min-width: 200px;
    border-radius: 20px;
    transition: .2s;
}
.blog .comment button:hover{
    background-color: #00b6f0;
}
.blog .comment button:active{
    transform: scale(1.03)
}
/*Comments*/
.blog .comments .response{
    width: 100%;
    margin-bottom: 30px;
}
.blog .comments .card{
    width: 85%;
    float: left;
    box-shadow: 0 0 50px rgba(0,0,0,.1);
    position: relative;
    border: none;
    margin-bottom: 20px;
}
.blog .comments .card:after{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: 0;
    border: 20px solid transparent;
    border-right: 20px solid white;
    border-top: 20px solid white;
}
.blog .comments img{
    max-width: 50px;
    max-height: 50px;
    width: 10%;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.blog .comments .date{
    font-size: 14px;
    color: #969696;
    
}





/*ASIDE*/
aside {
    float: left;
    max-width: 350px;
    padding-top: 80px;
}

aside .card {
    overflow: hidden
}

aside .best {
    color: white;
}

aside .next {
    color: #363636;
    border-bottom: 3px solid #00c2ff;
}

aside .next img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    width: 100%;
    transition: .2s;
}

aside .next:hover img {
    opacity: 1;
    width: 100%;
}

aside .next:hover .card-body {
    z-index: 2;
    color: white;
}

.card-img-overlay {
    /*    background: linear-gradient(to top,rgba(0,0,0,0.4) 20%,transparent);  */
    background: linear-gradient(45deg, rgb(0, 182, 255, .8), transparent);
    /*    rgb(204, 0, 255,.5)*/
    transition: background 1s ease;
}

.card-img-overlay:hover {
    background: linear-gradient(45deg, rgb(0, 182, 255, .6) 50%, transparent);
}

.best img {
    transition: .2s;
}

.best:hover img {
    transform: scale(1.1);
}

.card-img-overlay span {
    position: absolute;
    bottom: 20px;
}

/*Recent Tags*/
.rec_tags a {
    display: inline-block;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #00c2ff;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-family: "Halvetica Thin";
    letter-spacing: 1px;
    transition: .1s;
    margin-right: 8px;
    margin-bottom: 10px;
}

.rec_tags a:hover {
    background-color: #3fd1ff;
}

/*ASIDE END*/



/*FOOTER*/
footer {
    background-color: #222;
    border-top: 5px solid #00c2ff;
    color: white;
    background-image: url(img/footer.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

footer .container {
    max-width: 100%;
    padding: 50px;
}

footer .col-12 div {
    display: inline-block;
}

footer h4 {
    color: #dcdcdc;
    position: relative;
    text-align: left;
}

footer h4::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: #dcdcdc;
}

footer li {
    list-style: none;
    width: 250px;
    max-width: 100%;
}

footer .row a {
    display: block;
    color: #ebebeb;
    letter-spacing: 1px;
    font-family: "Halvetica Thin";
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    text-align: left;
}

footer .row .text {
    letter-spacing: 1px;
    color: #dcdcdc;
}

footer a:hover {
    color: white;
}


/*LOGIN*/
.login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #00c2ff, #f200ff, #00c2ff);
    background-size: 600% 600%;
    animation: Backgradient 31s ease infinite;
    display: flex;
    align-items: center;
}

.login .inner {
    max-width: 100%;
    width: 500px;
    min-height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
}

.login .inner button {
    border: none;
    min-width: 100%;
    padding: 10px;
    background-color: #00c2ff;
    color: white
}

.login .inner button:hover {
    background-color: #3fd1ff
}

.login .inner button:active {
    background-color: #00c2ff
}
.login .custom-file{
    overflow: hidden;
}












/*For screems less than 900px*/
@media screen and (max-width: 900px) {

    /*Header*/
    header {
        background-color: black;
        height: 40px;
    }

    header .m900 {
        display: none;
    }

    header .h900 {
        height: 40px;
        display: block;
    }

    header img {
        height: 100%;
        float: left;
    }

    /*Language Changer*/
    .lang900 {
        float: left;
        position: relative;
    }

    .lang900 .lan {
        padding: 8px;
        background-color: #363636;
        height: 40px;
        font-size: 14px;
        color: #696969;
        line-height: 1.8;
        transition: .2s;
        text-align: center;
    }

    .lang900 .lan:hover {
        background-color: #1C1C1C;
    }

    .lang900 div label {
        margin: 0;
    }

    .lang900 .lanpass {
        display: block;
        display: none;
        position: absolute;
    }

    /*    End*/

    header > div > .fa {
        float: right;
        font-size: 18px;
        padding: 6px;
        padding-top: 10px;
        height: 100%;
        background-color: #363636;
        color: #696969;
        transition: .2s;
        border-left: 1px solid black;
    }

    header > div > .fa:hover {
        background-color: #1C1C1C;
    }

    header form {
        float: right;
    }

    header input {
        height: 40px;
        background-color: #363636;
        border: none;
        width: 0px;
        transition: .2s;
        font-size: 14px;
    }



    header input:focus {
        background-color: #1C1C1C;
        outline: none;
        color: white;
    }

    .inpwd {
        width: 150px;
        border-left: 1px solid black;
        padding: 10px;
    }

    /*    Toggle*/
    header div.toggle {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #444;
        width: 100%;
    }

    header .toggle_form {
        display: none;
        width: 100%;
        background-color: #4F4F4F;
        padding: 10px;
    }

    .toggle > li {
        color: white;
        list-style: none;
    }

    .toggle > li > a {
        color: white;
        padding: 10px;
        display: inline-block;
        width: 100%;
    }

    .toggle li a:hover {
        color: yellowgreen;
        text-decoration: none;
    }

    /*Header dropdown*/
    .drop2 {
        display: none;
    }

    .drop2 a {
        color: white;
        display: block;
        padding: 10px;
        padding-left: 40px;
    }

    /*Home*/
    .entry .inner img {
        margin: 10px 0;
    }

    /*    Download*/
    .homepage .download {
        padding: 40px 20px;
    }

    .homepage .download .mb-5 > img {
        width: 100%;
    }

    .homepage .download .package img {
        position: absolute;
        float: none;
        width: 100%;
        box-shadow: none;
        height: 100%;
    }

    .homepage .download .package .text {
        position: relative;
        width: 100%;
        float: none;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        height: 100%;
    }

    .homepage .download .package .text p {
        color: #f7f7f7;
    }

    .homepage .download .package .text p b {
        color: #00c2ff;
    }

    /*LOGIN*/
    .login {
        position: relative;
        width: 100%;
        height: 100%;
        background: none;
        display: flex;
        align-items: center;
    }

    .login .inner {
        margin-top: 50px;
    }




    /*    FOOTER*/
    footer {
        background-image: none;
    }

}

/*max-width: 900 END*/
@media screen and (max-width: 1380px) {
    aside {
        display: none;
    }
}

/*Fonts*/
@font-face {
    font-family: "Halvetica";
    src: url("fonts/Halvetica/HelveticaNeueCyr-Medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Halvetica Thin";
    src: url("fonts/Halvetica/HelveticaNeueCyr-Thin.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Halvetica Bold";
    src: url("fonts/Halvetica/HelveticaNeueCyr-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Halvetica Light";
    src: url("fonts/Halvetica/HelveticaNeueCyr-Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik/Rubik.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*General*/
a:hover {
    text-decoration: none;
}

.text-tiny {
    font-size: 12px;
}

.text-grey {
    color: #c7c7c7;
}

.clear {
    clear: both;
    float: none;
}

.hal-thin {
    font-family: "Halvetica Thin" !important;
}
.hal-bold {
    font-family: "Halvetica Bold" !important;
}

.hal-light {
    font-family: "Halvetica Light" !important;
}
.rubik{
    font-family: "Rubik";
}
.text-huge,
.homepage .entry .text-huge {
    font-size: 45px;
}






@keyframes loading {

    from,
    to {
        opacity: 0.1;
    }

    80% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }
}

/*Loading*/

/*For cards*/
.cards .cardsloading {
    z-index: 1;
}

.cards .cardsloading .inner {
    top: 20%;
}

/*For all pages*/
div.startup {
    position: fixed;
    z-index: 10;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.loading .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100px;
    transform: translate(-50%, -50%);
}

.loading .spin {
    width: 40px;
    height: 40px;
    background-color: #3fd1ff;
    margin-bottom: 10px;
    float: left;
    opacity: 0.1;
}

.loading .spin:nth-child(1) {
    margin-right: 10px;
    animation: loading 1s infinite ease;

}

.loading .spin:nth-child(2) {
    animation: loading 1s infinite;
    animation-delay: 250ms;
}

.loading .spin:nth-child(3) {
    margin-right: 10px;
    animation: loading 1s infinite;
    animation-delay: 750ms;
}

.loading .spin:nth-child(4) {
    animation: loading 1s infinite;
    animation-delay: 500ms;
}






/*Inputs with one line*/
.input {
    height: 60px;
    position: relative;
}

.input input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #c8c8c8;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 0;
    padding-left: 0;
    background-color: transparent;
    transition: .2s;
    font-family: "Halvetica Thin";
    letter-spacing: 1px;
}

.input input:focus {
    outline: none;
}

.input label {
    transition: .2s;
    color: grey;
    position: absolute;
    left: 0;
    top: 0;
}

.lb_move_up {
    top: -25px !important;
}

.input:focus-within label {
    top: -25px;
}

.input:focus-within input {
    border-bottom: 2px solid #00c2ff;
}








/*Scroller*/
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #00c2ff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellowgreen;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 5px;
}
